body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(151, 31, 191), rgb(10, 81, 235));
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border: 0rem;
}

#calculator {
    margin: 4rem;
    border-radius: 5%;
    max-width: fit-content;
    padding: 1.2rem;
}

#display {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(40, 40, 40, 0.8);
    display: grid;
    justify-content: right;
    align-items: center;
    justify-items: center;
    margin: auto;
    margin-bottom: 0.35rem;
    max-width: 17.45rem;
    min-height: 3.1rem;
    font-size: 2.4rem;
    padding: 1rem;
    font-weight: 600;
    border: 0rem;
}

.buttons {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 5rem 5rem 5rem 5rem;
}

button {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 0.3rem;
    padding: 1rem;
    font-size: 2rem;
    /* border-radius: 50%; */
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    border: 0rem;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    cursor:pointer;
}

.operator {
    background-color: rgba(255, 255, 255, 0.2);

}